*
{
	margin: 0px;
	padding: 0px;
}
p.white
{
	color: white;
}
img
{
	border: 0px;
}

body
{
	
	width:100%;
height:100%;
	background:url('hero-image.jpg')no-repeat center center fixed; ;
    background-repeat: no-repeat;
    background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;;"
}
 
	
}
html
{
	
}
p.quote{
font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color:white;
    font-weight: bold;
font-family: "Calibri";
}
h1
{
	display: block;
    font-size: 3em;
    
    color:white;
text-align:center;
    font-weight: bold;
font-family: "Calibri";
	
}
#bars
{
	font-size:30px;
	background-color: white;
	padding:13px;
	width: 30px;
}
button
{
	padding: 0px;
	margin-left: -1px;
}
div.left
{
position: absolute;
    left: 300px;
    width: 50%;
   
}
div.right
{
		position: absolute;
    left : 700px;
    width: 50%;
    

}
#arrow
{
	font-size: 22px;
}

.slidenav
{
    width: 0;
    background-color: white;
    position:fixed;
    height:100%;
    overflow-x: hidden;
	transition: 0.5s;
	margin-top: 70px;
	z-index:999;
}
.slidenav a
{
	display:block;
	text-decoration: none;
	color:black;
	padding:20px 16px;
	text-align: center;
	transition: 0.3s;
}
.slidenav a:hover 
{
    background-color: #555;
    color: white;
}


.sub
{
	margin-left: 250px;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow-x: hidden;
	height: auto;
	z-index:999;
}
.sub a
{
	display:block;
	text-decoration: none;
	color:black;
	padding: 5px 5px;
	text-align: center;
}

.sub a:hover 
{
    background-color: #555;
    color: white;
}
#main 
{
    transition: margin-left .5s;
    padding: 0px;
	margin-top: 70px;
	position: fixed;
	margin-left: -5px;
	border-color: white;
	z-index: 999;
}